<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h2>로그인</h2>

<form class="form-container" th:action="@{/login}" method="post">
  <div>
    <label for="username">이메일:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label>
      <input type="checkbox" name="remember-me" />
      자동 로그인
    </label>
  </div>
  <div>
    <button type="submit">로그인</button>
  </div>
</form>

<div th:if="${param.error}">
  <p style="color:red;">이메일 또는 비밀번호가 잘못되었습니다.</p>
</div>
<div th:if="${param.logout}">
  <p style="color:green;">정상적으로 로그아웃되었습니다.</p>
</div>
</body>
</html>
